/.venv
/.idea
/__pycache__
/pysiglib/__pycache__
/pysiglib/torch_api/__pycache__
/pysiglib/.idea
/examples/__pycache__
/examples/times_avx_2.pickle
/examples/signature_times_linear_avx_2.pdf
/examples/signature_times_linear_avx_2.png
/examples/signature_times_log_avx_2.pdf
/examples/signature_times_log_avx_2.png
/unit_tests/__pycache__
/pysiglib.egg-info
/build/lib/pysiglib
/examples/fbm_test.py
/examples/fbm_test2.py
/dist
/siglib/cuSigKernel.h
/profile.ncu-rep
/b2
/b2-5.3.2
/b2-5.3.2.zip
*.pclprof
/docs/_build
/docs/_templates/*
!/docs/_templates/layout.html
/pysiglib/_config.py
/_build_log.txt
*.dll
*.dylib
*.so
*.jam
*.vcxproj.user
/.vs
/tests/__pycache__
/build
/build_*/
/out/
__pycache__/
*.py[cod]
